/* CSS styles for table and cells*/

table, td, tr 
{
    border: 1px solid black;
    border-collapse: collapse;
    width: 400px;
    height: 50px;
}

tr:nth-child(even) td:nth-child(even),tr:nth-child(odd) td:nth-child(odd) 
{
    background-color: white;
}
tr:nth-child(odd) td:nth-child(even),tr:nth-child(even) td:nth-child(odd) 
{
    background-color: black;
}